@charset "utf-8";

body {
	font-family: 微软雅黑;
}
.navbar {
	margin: 0;
}
.jumbotron {
	text-align: center;
	height: 450px;
	.wrap {
		margin-top: 100px;
	}
	h1 {
		font-size: 40px;
	}
	h4 {
		margin-top: 15px;
	}
	.btn {
		margin-top: 10px;
	}
}

section {
	padding: 80px 0 110px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	h2 {
		margin-top: 0;
	}
	.title-line {
		height: 1px;
		width: 60px;
		background: #e5e5e5;
		margin: 15px auto;
	}
	
}

.text {
	text-align: left;
}
.section1 {
	.wrap {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-top: 15px;
		padding: 10px 10px 20px;
		border: 1px solid #e5e5e5;
		p {
			margin: 0;
		}
	}
}
.info {
	height: 40px;
}
.footer {
	padding-top: 35px;
	height:80px;
	.footer-link {
		text-align: center;
	}
}